.products {
  padding: 15px;
  font-family: 'Poppins', sans-serif;


  &>ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;



    &>li {
      &>div>a {
        width: 100%;
        text-align: center;
      }

      display: flex;
      box-sizing: border-box;
      flex-direction: column;
      align-items: center;
      flex-basis: calc(25% - 5px);
      border: 1px solid rgba(224, 224, 224, 0.67);
      box-shadow: 10px 5px 5px rgba(128, 128, 128, 0.142);
      gap: 10px;

      &>.first {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &>div>a>img {
        width: 200px;
      }


      .second {
        align-self: start;
        width: 100%;

        &>p {
          max-width: 300px;
          text-align: start;
          width: 100%;
          font-size: 0.8rem;
          text-overflow: ellipsis;
          overflow: hidden;
          margin-left: 20px !important;
        }
      }


    }
  }
}


@media (max-width:1000px) {
  .products>ul>li {
    flex-basis: calc(50% - 5px);
  }
}

@media (max-width:700px) {
  .products>ul>li {
    flex-basis: 100%;
  }
}