header {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &>div:first-child {
    display: flex;
    align-items: center;

    &>a>img {
      width: 50px;
      height: 50px;
    }
  }

  .searchbar-container {
    position: relative;

    input[type='search'] {
      padding: 6px;
      border: 1px solid #747474;
      border-radius: 4px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      position: relative;

      &::placeholder {
        color: #999;
      }

      &:focus-visible {
        outline-color: #999;
      }

    }

    .search-icon {
      position: absolute;
      top: 50%;
      right: 10px; // Adjust as needed
      transform: translateY(-50%);
      cursor: pointer;
    }



  }

  .mobile {
    display: none;
  }


  .menu-icon {
    cursor: pointer;
    display: none;
  }

  .menu-toggle {
    background-color: rgb(255, 255, 255);
    position: absolute;
    z-index: 9999;
    top: 100%;
    left: 0;
    right: 0;
    height: 80px;
    display: none;
  }

}



@media (max-width:700px) {
  .menu-icon {
    display: block !important;
  }

  .menu-toggle {
    display: block !important;
  }

  .mobile {
    display: block !important;
  }

  .searchbar-container {
    display: none;
  }
}